#Ingnore log files

#Ingnore the ' pratices file ' file
pratices file/ 

#Ingnore the 'test ' file
test /

# Ignore Python bytecode
__pycache__/
*.pyc


# Ignore virtual environment
one/
testgit /

# Ignore system files
.DS_Store